.hero{

    
}

.background{
    background-color: #FF9843;
    /* width:100%; */
    height: 100vh;
    display:flex;
    flex-direction: column;
    
    /* position: relative; */

}
body{
    margin:0px !important;
    /* padding-left:0px !important; */
    
}
.ahmar{
    margin: 0px;
    color:#295092 !important;
    font-size:100px;
}
.web{
    font-size:52px;
    color: #3468C0;
    
}
.circle{
    background-color: #FFDD95;
    position: absolute;
    
}
#largest{
    width:250px;
    height: 250px;
    top:0;
    right:0;
    clip-path: circle(100% at 100% 0);
    
}
.hero-text{
    position:absolute;
    top:27%;
    left: 8%;
    width: 53%;
}
#medium{
    width:230px;
    height:230px;
    left:74%;
    top:28%;
    border-radius: 50%;
}
#second-small{
    width:130px;
    height:130px;
    top:55%;
    left:67%;
    border-radius: 50%;


}
#smallest{
    border-radius: 50%;
    width:60px;
    height:60px;
    top:65%;
    left:62%;
}
.resume{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;

}
.text{
    color:#3468C0;
}
.resume-heading{
    font-size: 2.5rem;
}
.space{
    margin-left: 15%;
}
.divider{
    border: solid 1.5rem #FFDD95 ;
    margin-top:0px;
    margin: 0px;
}
.links{
    color:#FF9843;
}
.box{
    display:grid;
    grid-template-columns: 15% 55%;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: 4rem;
    width:60%;

}
.logo{
    width:6rem;
    height: 6rem;
}
.para{
    font-size: 1.5rem;
}
.profile-img{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
}
.about{
    background: #86A7FC;
}
.about-in{
    padding-left: 15%;
    padding-top: 5%;
    padding-bottom: 10%;
}
.me{
    font-size:2rem;

}
body > div.resume > div.about > div > div > h3{
    margin-bottom: 0px;
    color:#295092;
}
.footer-text > h3{
    margin-top: 8%;
}
.footer-text{
    margin-bottom:20% ;
    height: 100%;
}
.foot{
    background-color: #FFDD95;
    height: 100%;
    padding-top: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: relative; */
}

.media{
    height:1rem;
    width: auto;
}
.elements{
    padding-bottom:10%;

}
.socials{
    padding-left:0.5rem;
}











@media(max-width:700px){
    #largest{
        width:0px !important;
    }
    #medium{
        width:0px !important;
        
    }
    #smallest{
        width:0px !important;
    }
    #second-small{
        width:0px !important;
    }

    .hero-text{
        width:80%;
        
    }
    .profile-img{
        width:6rem;
        height: 6rem;

    }
    .resume-heading{
        font-size: 1.75rem;
    }
    .me{
        font-size: 1.25rem;
    }

}
